<body bgcolor="#3A3A3A" link="#58ACFF" vlink="#44617D" topmargin="0" rightmargin="0" leftmargin="0" bottommargin="0" >
  <div style="background:#666666; height:8px">
    <spacer type="block">
    </spacer>
  </div>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding:20px 20px 0px 20px">
        <a href="http://35photo.ru/">
          <img src="http://35photo.ru/files/logo2.gif" alt="35photo.ru - Photo site" width="142" height="35" style="margin-right:15px;" align="left">
        </a>
        <a href="http://35photo.ru/shuffle/" title="Shuffle" class="ico_shuffle">
        </a>
        <img src="http://35photo.ru/files/socialnet.png" style="padding-top:10px;">
        <div style="clear:both">
        </div>
        <div style="margin-top:10px;font-size:12px">
          <div class="menuBlock">
            <span class="mainMenu">
              <a href="http://35photo.ru/genre/">
                Styles
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/community/">
                Communities
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/new/interesting/">
                New photos
              </a>
              
              <img src="http://35photo.ru/files/downArrow.gif">
              <div class="sub">
                <ul>
                  <li>
                    <a href="http://35photo.ru/new/interesting/">
                      New interesting
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/new/">
                      New photos
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/new/journal/">
                      Journal
                    </a>
                  </li>
                </ul>
              </div>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/new/actual/">
                Topical
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/rating/best_photo_rating/">
                Ratings
              </a>
              
              <img src="http://35photo.ru/files/downArrow.gif">
              <div class="sub">
                <ul>
                  <li>
                    <a href="http://35photo.ru/rating/best_photo_rating/">
                      Основной
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/">
                      Авторы
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/photo_day/">
                      Фото дня
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/best_photo_see/">
                      Просмотры
                    </a>
                  </li>
                </ul>
              </div>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/items/">
                Equipment
              </a>
            </span>
            
          </div>
        </div>
        
        <td class="text" style="clear:both;padding:14px 20px 0px 20px">
          <div style="float:right;width:240px;margin-right:20px">
            <div align="right">
              <div style="font-size:18px;margin-right:20px">
                <a href="/refinery/login">
                  Login
                </a>
                
                <span style="font-size:14px">
                  or
                </span>
                
                <a href="/refinery/users/register">
                  Sign up
                </a>
              </div>
            </div>
          </div>
          <tr>
            <td style="padding:0" colspan="2">
              <div align="center" style="margin-top:20px;background: #545554;padding-bottom:5px">
                <div class="main_cats" align="left">
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat1/">
                        Portrait
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://scottscm.35photo.ru/photo_428531/">
                        <img class="prevr2" idb="poi842_428531" src="http://scottscm.35photo.ru/photos_col/r2/85/428531.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi842_428531">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            20 hours ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 25 / View: 1004
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat1/" class="ico_pD ico_photoDay1">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          melancholy
                        </div>
                        <div class="name">
                          Roman Kargapolov
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat2/">
                        Erotic, Glamour
                      </a>
                    </div>
                    <div class="photos_div2">
                      <div class="reportageIco2">
                      </div>
                      <a href="http://lucas.35photo.ru/photo_426429/">
                        <img class="prevr2 nude" idb="poi718_426429" src="http://lucas.35photo.ru/photos_col/r2/85/426429.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi718_426429">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            4 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 16 / View: 7725
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat2/" class="ico_pD ico_photoDay2">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat6/" class="ico_pD ico_photoDay6">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          Summertime II
                        </div>
                        <div class="name">
                          Andrew Lucas
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat3/">
                        Nature
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://nsz.35photo.ru/photo_428266/">
                        <img class="prevr2" idb="poi549_428266" src="http://nsz.35photo.ru/photos_col/r2/85/428266.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi549_428266">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 36 / View: 815
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat3/" class="ico_pD ico_photoDay3">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          Медленный танец Маши и Миши
                        </div>
                        <div class="name">
                          Николай Зиновьев
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat4/">
                        Landscapes
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://lazarenko.35photo.ru/photo_428068/">
                        <img class="prevr2" idb="poi832_428068" src="http://lazarenko.35photo.ru/photos_col/r2/85/428068.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi832_428068">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 29 / View: 1062
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat4/" class="ico_pD ico_photoDay4">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          "Последний этаж"
                        </div>
                        <div class="name">
                          Lazarenko Denis
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat5/">
                        Other
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://carasdesign.35photo.ru/photo_428301/">
                        <img class="prevr2" idb="poi368_428301" src="http://carasdesign.35photo.ru/photos_col/r2/85/428301.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi368_428301">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 19 / View: 614
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat5/" class="ico_pD ico_photoDay5">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          The sleepy mouse
                        </div>
                        <div class="name">
                          Caras Ionut
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:50px 20px 0px 20px">
                <div align="center">
                  <div class="main_photo_day">
                    <table cellpadding="0" cellspacing="0" width="50%" class="bestP">
                      <tr>   
                        <% if @photo_of_the_day_album.present? %>

                          <td width="48%" valign="top">
                            <h2>
                              <%= @photo_of_the_day_album.title %>:
                       
                            </h2>

                            <% cache "refinery/photo_gallery/albums/#{@photo_of_the_day_album.id}" do %> 
                              <% @photo_of_the_day_latest.each_with_index do |photo, index|  %>
                                <%= link_to (image_tag  photo.file.url(:album), :width => Refinery::PhotoGallery.single_dimensions[0], :height => Refinery::PhotoGallery.single_dimensions[1]  ), photo.file.single.url, {
                                  :target=> "_blank",
                                  :class=>"fancybox",
                                  :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                  :rel=>"group",
                                  :title=> photo.title } %>
                                <div style="font-size:24px;font-family:Tahoma">
                                  <%= photo.description %>
                                </div>
                                <div style="border-top:1px solid #484848; height:38px; margin-top:5px;padding-top:5px; width:320px">
                                  <img class="avator" style="margin-right:10px;width:30px;height:30px" align="left" src="/profile/photos/34366_48.jpg">
                                  <a href="http://scottscm.35photo.ru/" style="font-size:16px">
                                    Roman Kargapolov
                                  </a>
                                  <div style="font-size:11px;color:#888">
                                    У автора: 
                                    <a href="/" style="color:#888">
                                      11 фото
                                    </a>
                                  </div>
                                </div>
                              <% end %>
                            <% end %>

                          <% end %>
                          <td width="4%">
                            <div style="width:40px;">
                              <spacer tyle="block">
                              </spacer>
                            </div>

                            <% if @photo_series_of_the_day_album.present? %>
                              <td width="48%" valign="top">
                                <h2>
                                  <%= @photo_series_of_the_day_album.title %>:
                                </h2>
                                <div class="reportageIco2">
                                </div>
                                
                                <% cache "refinery/photo_gallery/albums/#{@photo_series_of_the_day_album.id}" do %> 
                                  <% @photo_series_of_the_day_latest.each_with_index do |photo, index|  %>
                                    <%= link_to (image_tag  photo.file.url(:album), :width => Refinery::PhotoGallery.single_dimensions[0], :height => Refinery::PhotoGallery.single_dimensions[1]  ), photo.file.single.url, {
                                      :target=> "_blank",
                                      :class=>"fancybox",
                                      :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                      :rel=>"group",
                                      :title=> photo.title } %>
                                    <div style="font-size:24px;font-family:Tahoma">
                                      <%= photo.description %>
                                    </div>
                                    <div style="border-top:1px solid #484848; height:38px; margin-top:5px;padding-top:5px; width:320px">
                                      <img class="avator" style="margin-right:10px;width:30px;height:30px" align="left" src="/profile/photos/59342_48.jpg">
                                      <a href="http://vlezv35photo.35photo.ru/" style="font-size:16px">
                                        HITTHEROAD
                                      </a>
                                      <div style="font-size:11px;color:#888">
                                        У автора: 
                                        <a href="/" style="color:#888">
                                          10 фото
                                        </a>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                            <% end %>

                        </table>
                    </div>
                  </div>

                  

                    <div align="center">
                      <div class="main_photo_day">
                        <div align="left" class="mainBestP" style="margin-top:40px;width:1020px">
                          <% if @editors_choice_album.present? %>
                            <% cache "refinery/photo_gallery/albums/#{@editors_choice_album.id}" do %>
                              <h2>
                                <%= @editors_choice_album.title %>:
                              </h2>
                            <% end %>
                            
                            <div id="photo_gallery">
                              <%# cache "refinery/photo_gallery/albums/#{@editors_choice_album.id}" do %>
                            
                                <% @editors_choice_latest.each_with_index do |photo, index|  %>
                                  <div class="mainBestItem">
                                    <div style="padding-bottom:20px">
                                      <%= link_to (image_tag  photo.file.url(:album), :width => Refinery::PhotoGallery.album_dimensions[0], :height => Refinery::PhotoGallery.album_dimensions[1]  ), photo.file.single.url, {
                                        :target=> "_blank",
                                        :class=>"fancybox",
                                        :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                        :rel=>"group",
                                        :title=> photo.title } %>

                                      <div style="font-size:16px;padding-left:10px">
                                        <%= photo.description %>
                                      </div>
                                      <div style="padding-left:10px;font-size:11px;color:#888">
                                        by 
                                        <a style="color:#888"  href="http://bortovoi.35photo.ru">
                                          Нетушки
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>                       
                              <%# end %>
                            </div>
                          <% end %>
                    
                          <% if @topical_album.present? %>
                            <div align="left" style="clear:both;margin-top:20px">
                              <h2>
                                 <%= @topical_album.title %>: 
                              </h2>
                            </div>
                            <div class="livetimeSupport">
                              <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                  <% cache "refinery/photo_gallery/albums/#{@topical_album.id}" do %>
                            
                                    <% @topical_latest.each_with_index do |photo, index|  %>

                                      <td valign="top" width="25%">
                                        <div > 
                                          <a href="http://nsz.35photo.ru/photo_428266/">
                                            <%= link_to (image_tag  photo.file.url(:preview), :width => Refinery::PhotoGallery.preview_dimensions[0], :height => Refinery::PhotoGallery.preview_dimensions[1] ), photo.file.single.url, {
                                              :target=> "_blank",
                                              :class=>"fancybox",
                                              :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                              :rel=>"group",
                                              :title=> photo.title } %>
                                          </a>
                                          <div style="float:left;">
                                            <div class="comm_count transperent60">
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <% if index == 3 || index == 7 %> 
                                        <tr>
                                          <td height=20 colspan="4">
                                          </td>
                                        <tr>
                                      <% end %>
                                    <% end %>
                                  <% end %>

                                </table>
                            </div>
                               
                                      
                          <% end  %>
                              </div>
                          </div>
                        </div>
                    </div>
                    <div style="font-size:1px;" class="transperent20">
                      Карта сайта: 
                      <a href="http://35photo.ru/sitemap/sitemap1.html">
                        1
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap2.html">
                        2
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap3.html">
                        3
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap4.html">
                        4
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap5.html">
                        5
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap6.html">
                        6
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap7.html">
                        7
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap8.html">
                        8
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap9.html">
                        9
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap10.html">
                        10
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap11.html">
                        11
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap12.html">
                        12
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap13.html">
                        13
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap14.html">
                        14
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap15.html">
                        15
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap16.html">
                        16
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap17.html">
                        17
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap18.html">
                        18
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap19.html">
                        19
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap20.html">
                        20
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap21.html">
                        21
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap22.html">
                        22
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap23.html">
                        23
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap24.html">
                        24
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap25.html">
                        25
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap26.html">
                        26
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap27.html">
                        27
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap28.html">
                        28
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap29.html">
                        29
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap30.html">
                        30
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap31.html">
                        31
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap32.html">
                        32
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap33.html">
                        33
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap34.html">
                        34
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap35.html">
                        35
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap36.html">
                        36
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap37.html">
                        37
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap38.html">
                        38
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap39.html">
                        39
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap40.html">
                        40
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap41.html">
                        41
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap42.html">
                        42
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap43.html">
                        43
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap44.html">
                        44
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap45.html">
                        45
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap46.html">
                        46
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap47.html">
                        47
                      </a>
                      , 
                      <a href="http://35photo.ru/sitemap/sitemap48.html">
                        48
                      </a>
                    </div>
                    <tr>
                      <td colspan="2" style="padding-top:40px;">
                        <div style="background-color:#474747;height:1px;">
                          <spacer type="block">
                          </spacer>
                        </div>
                        <div style="background-color:#2a2a2a;height:1px;">
                          <spacer type="block">
                          </spacer>
                        </div>
                        <tr>
                          <td colspan="2" style="padding:20px" bgcolor="#323232">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="30%">
                                  <div class="text">
                                    <div style="margin-bottom:5px">
                                      &copy; 
                                      <b>
                                        <a href="http://35photo.ru/">
                                          Photo site
                                        </a>
                                      </b>
                                      
                                      <a href="http://35photo.ru/">
                                        35photo.ru
                                      </a>
                                    </div>
                                    <div style="margin-bottom:5px">
                                      <a href="" onClick="inlineBlock( 'blockGbMess' ); return false;">
                                        Send message to administration
                                      </a>
                                      <br>
                                      <div id="blockGbMess" style="display:none;margin-top:5px;">
                                        <form action="" method="POST" onSubmit="form_send('?type=addMessGb&type2=add', {messageForm: $('#messageForm').val(), messType: $('#messType').val(), gbemail: $('#gbemail').val()}, 'blockGbMess'); return false;">
                                          <select name="messType" id="messType">
                                            <option value="0">
                                              --------
                                            </option>
                                            
                                            <option value="1">
                                              Proposal for cooperation
                                            </option>
                                            <option value="2">
                                              An appeal of a photo or poster
                                            </option>
                                            <option value="3">
                                              Problems with my account
                                            </option>
                                            
                                            <option value="4">
                                              Other
                                            </option>
                                            
                                          </select>
                                          <br>
                                          Specify the return address
                                          <br>
                                          Email:
                                          <br>
                                          <input type="text" name="gbemail" id="gbemail">
                                          <br>
                                          <textarea style="width:90%;height:150px" id="messageForm" name="messageForm">
                                          </textarea>
                                          <br>
                                          <input type="submit" value="Send">
                                        </form>
                                      </div>
                                    </div>
                                    <div class="transperent20">
                                      <!--LiveInternet counter-->
                                      <script type="text/javascript">
                                        <!--
                                          document.write('<a href="http://www.liveinternet.ru/click;35photo" target=_blank /><img src="http://counter.yadro.ru/hit;35photo?t26.6;r' + escape(document.referrer) + (( typeof (screen) == 'undefined') ? '' : ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + ';u' + escape(document.URL) + ';' + Math.random() + '" alt="" title="LiveInternet: показано число посетителей за сегодн\я" ' + 'border=0 width=88 height=15 /></a>')
                                          //-->
                                      </script>
                                      <!--/LiveInternet-->
                                    </div>
                                    <div style="float:left;margin-top:5px" class="transperent40">
                                      <a class="ico_twitter" href="http://twitter.com/#!/35PHOTO_main" target="_blank" rel="nofollow">
                                      </a>
                                      
                                      <a href="http://www.facebook.com/35PHOTO.ru" target="_blank" rel="nofollow" class="ico_fb">
                                      </a>
                                      
                                      <a href="http://vkontakte.ru/club17219136" target="_blank" rel="nofollow" class="ico_vk">
                                      </a>
                                      
                                      <g:plusone size="small" href="http://35photo.ru">
                                      </g:plusone>
                                    </div>
                                    <br>
                                  </div>
                                  <td valign="top" style="padding-top:20px;font-size:12px;color:#666"  width="50%">
                                    - 
                                    <b>
                                      <a href="http://35photo.ru/game/" style="font-size:12px">
                                        Photo-game
                                      </a>
                                    </b>
                                    <br>
                                    <br>
                                    <a href="http://35photo.ru/ps/en/">
                                      About
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/ps/en/help/">
                                      Help
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/search/">
                                      Search
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/pages/page_other_info/">
                                      Other
                                    </a>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a href="http://35photo.ru/models/">
                                      Models
                                    </a>
                                    <div class="transperent40" style="margin-top:20px;">
                                      <a href="http://35photo.ru/ps/partners/" class="ico_partners">
                                      </a>
                                    </div>
                                    <div style="margin-top:20px;font-size:10px;color:#666" class="transperent1">
                                      Полезные ссылки:  Лучшие матчи сезона 
                                      <a href="http://footballbilet.ru/catalog/luzhniki/spartak_barcelona/" target="_blank">
                                        билеты на Спартак Барселона
                                      </a>
                                      лучшие места для Вас! .  Для 
                                      <a href="http://www.incom.ru/uslugi/obmen-kvartir/" target="_blank">
                                        обмена квартир в Москве
                                      </a>
                                      агентство предлагает услуги по поиску, проверке и оформлению. 
                                    </div>
                                    <td class="text" valign="top" style="padding-top:10px">
                                      <div style="font-size:18px;">
                                        <span style="font-size:10px;">
                                          Select language:
                                        </span>
                                        <br>
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=en">
                                          en
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=ru">
                                          ru
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=zh">
                                          cn
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=de">
                                          de
                                        </a>
                                        &nbsp; 
                                        <a rel="nofollow" href="/pages/page_changeLang/?lang=bg">
                                          bg
                                        </a>
                                      </div>
                                      <div style="margin-top:20px;font-size:10px;color:#aaa;">
                                        <script language="JavaScript" type="text/javascript">
                                          var boxm = 'pr' + '@' + '35photo' + '.ru';
                                          document.write('<a href="' + 'mai' + 'lto:' + boxm +'">' + boxm + '</a>');
                                        </script>
                                        - сooperation and promotion
                                      </div>
                                      
                                </table>
                            </table>
                          </body>
                      </html>