<% refresh_homepage %>

<body bgcolor="#3A3A3A" link="#58ACFF" vlink="#44617D" topmargin="0" rightmargin="0" leftmargin="0" bottommargin="0" >
  <div style="background:#666666; height:8px">
    <spacer type="block">
    </spacer>
  </div>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding:20px 20px 0px 20px">
        <a href="http://35photo.ru/">
          <img src="http://35photo.ru/files/logo2.gif" alt="35photo.ru - Photo site" width="142" height="35" style="margin-right:15px;" align="left">
        </a>
        <a href="http://35photo.ru/shuffle/" title="Shuffle" class="ico_shuffle">
        </a>
        <img src="http://35photo.ru/files/socialnet.png" style="padding-top:10px;">
        <div style="clear:both">
        </div>
        <div style="margin-top:10px;font-size:12px">
          <div class="menuBlock">
            <span class="mainMenu">
              <a href="http://35photo.ru/genre/">
                Styles
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/community/">
                Communities
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/new/interesting/">
                New photos
              </a>
              
              <img src="http://35photo.ru/files/downArrow.gif">
              <div class="sub">
                <ul>
                  <li>
                    <a href="http://35photo.ru/new/interesting/">
                      New interesting
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/new/">
                      New photos
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/new/journal/">
                      Journal
                    </a>
                  </li>
                </ul>
              </div>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/new/actual/">
                Topical
              </a>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/rating/best_photo_rating/">
                Ratings
              </a>
              
              <img src="http://35photo.ru/files/downArrow.gif">
              <div class="sub">
                <ul>
                  <li>
                    <a href="http://35photo.ru/rating/best_photo_rating/">
                      Основной
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/">
                      Авторы
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/photo_day/">
                      Фото дня
                    </a>
                  </li>
                  <li>
                    <a href="http://35photo.ru/rating/best_photo_see/">
                      Просмотры
                    </a>
                  </li>
                </ul>
              </div>
            </span>
            
            <span class="mainMenu">
              <a href="http://35photo.ru/items/">
                Equipment
              </a>
            </span>
            
          </div>
        </div>
        
        <td class="text" style="clear:both;padding:14px 20px 0px 20px">
          <div style="float:right;width:240px;margin-right:20px">
            <div align="right">
              <div style="font-size:18px;margin-right:20px">
                <a href="/refinery/login">
                  Login
                </a>
                
                <span style="font-size:14px">
                  or
                </span>
                
                <a href="/refinery/users/register">
                  Sign up
                </a>
              </div>
            </div>
          </div>
          <tr>
            <td style="padding:0" colspan="2">
              <div align="center" style="margin-top:20px;background: #545554;padding-bottom:5px">
                <div class="main_cats" align="left">
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat1/">
                        Portrait
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://scottscm.35photo.ru/photo_428531/">
                        <img class="prevr2" idb="poi842_428531" src="http://scottscm.35photo.ru/photos_col/r2/85/428531.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi842_428531">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            20 hours ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 25 / View: 1004
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat1/" class="ico_pD ico_photoDay1">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          melancholy
                        </div>
                        <div class="name">
                          Roman Kargapolov
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat2/">
                        Erotic, Glamour
                      </a>
                    </div>
                    <div class="photos_div2">
                      <div class="reportageIco2">
                      </div>
                      <a href="http://lucas.35photo.ru/photo_426429/">
                        <img class="prevr2 nude" idb="poi718_426429" src="http://lucas.35photo.ru/photos_col/r2/85/426429.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi718_426429">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            4 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 16 / View: 7725
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat2/" class="ico_pD ico_photoDay2">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat6/" class="ico_pD ico_photoDay6">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          Summertime II
                        </div>
                        <div class="name">
                          Andrew Lucas
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat3/">
                        Nature
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://nsz.35photo.ru/photo_428266/">
                        <img class="prevr2" idb="poi549_428266" src="http://nsz.35photo.ru/photos_col/r2/85/428266.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi549_428266">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 36 / View: 815
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat3/" class="ico_pD ico_photoDay3">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          Медленный танец Маши и Миши
                        </div>
                        <div class="name">
                          Николай Зиновьев
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat4/">
                        Landscapes
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://lazarenko.35photo.ru/photo_428068/">
                        <img class="prevr2" idb="poi832_428068" src="http://lazarenko.35photo.ru/photos_col/r2/85/428068.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi832_428068">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 29 / View: 1062
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay">
                              </a>
                              
                              <a href="http://35photo.ru/rating/photo_day/cat4/" class="ico_pD ico_photoDay4">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          "Последний этаж"
                        </div>
                        <div class="name">
                          Lazarenko Denis
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main_cats_item" style="float:left;">
                    <div class="main_cats_title">
                      <a href="/rating/photo_day/cat5/">
                        Other
                      </a>
                    </div>
                    <div class="photos_div2">
                      <a href="http://carasdesign.35photo.ru/photo_428301/">
                        <img class="prevr2" idb="poi368_428301" src="http://carasdesign.35photo.ru/photos_col/r2/85/428301.jpg" class="photos_photo">
                      </a>
                      <div style="clear: left">
                      </div>
                      <div class="photo_other_info photo_hide" id="poi368_428301">
                        <div class="photos_time_add">
                          <span style="background-color:#000">
                            1 days ago
                          </span>
                          <br>
                          <span style="background-color:#000">
                            Comm.: 19 / View: 614
                            <div>
                              <a href="http://35photo.ru/rating/photo_day/cat5/" class="ico_pD ico_photoDay5">
                              </a>
                              
                            </div>
                          </span>
                        </div>
                      </div>
                      <div class="info">
                        <div class="title">
                          The sleepy mouse
                        </div>
                        <div class="name">
                          Caras Ionut
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="padding:50px 20px 0px 20px">
                <div align="center">
                  <div class="main_photo_day">
                    <table cellpadding="0" cellspacing="0" width="50%" class="bestP">
                      <tr>   
                        <% if @photo_of_the_day_album.present? %>

                          <td width="48%" valign="top">
                            <h2>
                              <%= @photo_of_the_day_album.title %>:
                       
                            </h2>

                          
                              <% @photo_of_the_day_latest.each_with_index do |photo, index|  %>
                                <%= link_to (image_tag  photo.file.url, :width => Refinery::PhotoGallery.single_dimensions[0], :height => Refinery::PhotoGallery.single_dimensions[1]  ), "/photos/" + photo.id.to_s, {
                                  :target=> "_blank",
                                  :class=>"fancybox",
                                  :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                  :rel=>"group",
                                  :title=> photo.title } %>
                                <div style="font-size:24px;font-family:Tahoma">
                                  <%= photo.description %>
                                </div>
                                <div style="border-top:1px solid #484848; height:38px; margin-top:5px;padding-top:5px; width:320px">
                                  <img class="avator" style="margin-right:10px;width:30px;height:30px" align="left" src="/profile/photos/34366_48.jpg">
                                  <a href="http://scottscm.35photo.ru/" style="font-size:16px">
                                    Roman Kargapolov
                                  </a>
                                  <div style="font-size:11px;color:#888">
                                    У автора: 
                                    <a href="/" style="color:#888">
                                      11 фото
                                    </a>
                                  </div>
                                </div>
                              <% end %>
                        

                          <% end %>
                          <td width="4%">
                            <div style="width:40px;">
                              <spacer tyle="block">
                              </spacer>
                            </div>

                            <% if @photo_series_of_the_day_album.present? %>
                              <td width="48%" valign="top">
                                <h2>
                                  <%= @photo_series_of_the_day_album.title %>:
                                </h2>
                                <div class="reportageIco2">
                                </div>
                                
                                <%# cache "refinery/photo_gallery/albums/#{@photo_series_of_the_day_album.id}" do %> 
                                  <% @photo_series_of_the_day_latest.each_with_index do |photo, index|  %>
                                    <%= link_to (image_tag  photo.file.url, :width => Refinery::PhotoGallery.single_dimensions[0], :height => Refinery::PhotoGallery.single_dimensions[1]  ), "/photos/" + photo.id.to_s, {
                                      :target=> "_blank",
                                      :class=>"fancybox",
                                      :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                      :rel=>"group",
                                      :title=> photo.title } %>
                                    <div style="font-size:24px;font-family:Tahoma">
                                      <%= photo.description %>
                                    </div>
                                    <div style="border-top:1px solid #484848; height:38px; margin-top:5px;padding-top:5px; width:320px">
                                      <img class="avator" style="margin-right:10px;width:30px;height:30px" align="left" src="/profile/photos/59342_48.jpg">
                                      <a href="http://vlezv35photo.35photo.ru/" style="font-size:16px">
                                        HITTHEROAD
                                      </a>
                                      <div style="font-size:11px;color:#888">
                                        У автора: 
                                        <a href="/" style="color:#888">
                                          10 фото
                                        </a>
                                      </div>
                                    </div>
                                  <% end %>
                                <%# end %>
                            <% end %>

                        </table>
                    </div>
                  </div>

                  

                    <div align="center">
                      <div class="main_photo_day">
                        <div align="left" class="mainBestP" style="margin-top:40px;width:1020px">
                          <% if @editors_choice_album.present? %>
                            <%# cache "refinery/photo_gallery/albums/#{@editors_choice_album.id}" do %>
                              <h2>
                                <%= @editors_choice_album.title %>:
                              </h2>
                            <%# end %>
                            
                            <div id="photo_gallery">
                              <%# cache "refinery/photo_gallery/albums/#{@editors_choice_album.id}" do %>
                            
                                <% @editors_choice_latest.each_with_index do |photo, index|  %>
                                  <div class="mainBestItem">
                                    <div style="padding-bottom:20px">
                                      <%= link_to (image_tag  photo.file.url(:album), :width => Refinery::PhotoGallery.album_dimensions[0], :height => Refinery::PhotoGallery.album_dimensions[1]  ), "/photos/" + photo.id.to_s, {
                                        :target=> "_blank",
                                        :class=>"fancybox",
                                        :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                        :rel=>"group",
                                        :title=> photo.title } %>

                                      <div style="font-size:16px;padding-left:10px">
                                        <%= photo.description %>
                                      </div>
                                      <div style="padding-left:10px;font-size:11px;color:#888">
                                        by 
                                        <a style="color:#888"  href="http://bortovoi.35photo.ru">
                                          Нетушки
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                <% end %>                       
                              <%# end %>
                            </div>
                          <% end %>
                    
                          <% if @topical_album.present? %>
                            <div align="left" style="clear:both;margin-top:20px">
                              <h2>
                                 <%= @topical_album.title %>: 
                              </h2>
                            </div>
                            <div class="livetimeSupport">
                              <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                  <%# cache "refinery/photo_gallery/albums/#{@topical_album.id}" do %>
                            
                                    <% @topical_latest.each_with_index do |photo, index|  %>

                                      <td valign="top" width="25%">
                                        <div > 
                                          <a href="http://nsz.35photo.ru/photo_428266/">
                                            <%= link_to (image_tag  photo.file.url(:preview), :width => Refinery::PhotoGallery.preview_dimensions[0], :height => Refinery::PhotoGallery.preview_dimensions[1] ), "/photos/" + photo.id.to_s, {
                                              :target=> "_blank",
                                              :class=>"fancybox",
                                              :data =>{:title=> t('.image') + ' ' + photo.title + '<br/><br/>' + photo.description},
                                              :rel=>"group",
                                              :title=> photo.title } %>
                                          </a>
                                          <div style="float:left;">
                                            <div class="comm_count transperent60">
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                      <% if index == 3 || index == 7 %> 
                                        <tr>
                                          <td height=20 colspan="4">
                                          </td>
                                        <tr>
                                      <% end %>
                                    <% end %>
                                  <%# end %>

                                </table>
                            </div>
                               
                                      
                          <% end  %>
                              </div>
                          </div>
                        </div>
                    </div>
                