<tr>
  <td style="padding:0" colspan="2">
    <div class="photoPage">
      <h1>Таланты и поклонники</h1>
    </div>
    <div align="center" style="padding: 40px 5px 0px; text-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 0px; font-size: 14px; font-weight: 200; background-color: rgb(51, 51, 51); color: rgb(204, 204, 204); background-position: initial initial; background-repeat: initial initial; " id="for_this_bg">
      <img class="mainPhoto" id="mainPhoto" src="<%= @photo.file.url %>" style="max-width: 1348px; ">
    </div>
    <div id="for_this_bg2" style="padding-bottom: 10px; background-color: rgb(51, 51, 51); color: rgb(204, 204, 204); background-position: initial initial; background-repeat: initial initial; ">
      <br>
      <br>
      <table style="cursor:pointer" align="center" cellpadding="0" cellspacing="2">
      <tbody>
      <tr>
        <td height="18" onclick="window.location='/action.php?type=prevPhoto&amp;photoId=526034'; return false;" style="padding-right:20px;font-size:9px;color:#777">
          Back
        </td>
        <td style="padding:0 20px 0 20px; overflow:hidden; font-size:10px">
        </td>
        <td width="200" class="selectBgBlock">
          <div class="selectBg" style="background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(229, 229, 229); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(204, 204, 204); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(179, 179, 179); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(153, 153, 153); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(128, 128, 128); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(102, 102, 102); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(77, 77, 77); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(51, 51, 51); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(26, 26, 26); background-position: initial initial; background-repeat: initial initial; ">
          </div>
          <div class="selectBg" style="background-color: rgb(0, 0, 0); background-position: initial initial; background-repeat: initial initial; ">
          </div>
        </td>
        <td onclick="window.location='/action.php?type=nextPhoto&amp;photoId=526034'; return false;" style="padding-left:20px;font-size:9px;color:#777">
          Next
        </td>
      </tr>
      </tbody>
      </table>
    </div>
    <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td>
        <div align="center">
          <div align="left" style="padding:20px 0 20px 20px;max-width:1200px">
            <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
              <td width="306" valign="top" style="padding-top:10px;overflow:hidden">
                <div align="center">
                  <div class="photoRatingBlock" title="Рейтинг фотографии" style="">
                    <div id="photoRating">
                      107
                    </div>
                  </div>
                </div>
                <div align="center" style="margin:0px 0px 20px 0px">
                  <table width="220" cellpadding="0" cellspacing="0">
                  <tbody>
                  <tr>
                    <td align="center" width="50%">
                      <div class="item_vote" id="vote_526034">
                        <ul>
                          <li class="count">
                          <div class="num" id="num_526034" title="Кол-во голосов - Да">
                            107
                          </div>
                          </li>
                          <li class="vote_btn2">
                          <div class="vote_btn" id="vote_btn_526034">
                            <a href="#" onclick="showAlert('Только полноправные члены сайта могут голосовать!');return false;">
                            <div>
                              Like
                            </div>
                            </a>
                          </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td align="center" width="50%">
                      <div class="item_vote" id="vote_526034">
                        <ul>
                          <li class="count">
                          <div class="num" id="num_526034_no" title="Кол-во голосов - Нет">
                            0
                          </div>
                          </li>
                          <li class="vote_btn_no2">
                          <div class="vote_btn_no" id="vote_btn_526034_no">
                            <a href="#" onclick="showAlert('Только полноправные члены сайта могут голосовать!');return false;">
                            <div>
                              No
                            </div>
                            </a>
                          </div>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                  </table>
                  <script>var btnAlt = {yes:'Like',no:'No',infav:'+ fav.',outfav:'- fav.'}</script>
                </div>
                <div id="otherVotes">
                </div>
                <div id="otherVotesM">
                </div>
                <div style="height:80px" class="boxradius2">
                  <div>
                    <div style="width:25%;float:left">
                      <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=192324700810412"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
                      <div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://marinamira.35photo.ru/photo_526034/" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false" data-font="arial" fb-xfbml-state="rendered">
                        <span style="height: 61px; width: 48px; ">
                        <iframe id="f36d1ca39c" name="f3d4d628ac" scrolling="no" style="border: none; overflow: hidden; height: 61px; width: 48px; " title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=192324700810412&amp;locale=en_US&amp;sdk=joey&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df3910a73b4%26origin%3Dhttp%253A%252F%252Fmarinamira.35photo.ru%252Ff20734919c%26domain%3Dmarinamira.35photo.ru%26relation%3Dparent.parent&amp;href=http%3A%2F%2Fmarinamira.35photo.ru%2Fphoto_526034%2F&amp;node_type=link&amp;width=60&amp;font=arial&amp;layout=box_count&amp;colorscheme=light&amp;show_faces=false&amp;send=false&amp;extended_social_context=false">
                        </iframe>
                        </span>
                      </div>
                    </div>
                    <div style="width:25%;float:left">
                      <div>
                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1368146021.html#_=1369138248115&amp;count=vertical&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fmarinamira.35photo.ru%2Fphoto_526034%2F&amp;size=m&amp;text=35PHOTO%20-%20%D0%9C%D0%B0%D1%80%D0%B8%D0%BD%D0%B0%20%D0%91%D1%80%D1%8B%D0%B4%D0%BD%D1%8F%20-%20%D0%A2%D0%B0%D0%BB%D0%B0%D0%BD%D1%82%D1%8B%20%D0%B8%20%D0%BF%D0%BE%D0%BA%D0%BB%D0%BE%D0%BD%D0%BD%D0%B8%D0%BA%D0%B8&amp;url=http%3A%2F%2Fmarinamira.35photo.ru%2Fphoto_526034%2F&amp;via=35PHOTO_main" class="twitter-share-button twitter-count-vertical" style="width: 56px; height: 62px; " title="Twitter Tweet Button" data-twttr-rendered="true">
                        </iframe>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                      </div>
                    </div>
                    <div style="width:25%;float:left">
                      <div style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 50px; height: 60px; background-position: initial initial; background-repeat: initial initial; " id="___plusone_0">
                        <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 50px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 60px; " tabindex="0" vspace="0" width="100%" id="I0_1369138248169" name="I0_1369138248169" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=tall&amp;hl=en-US&amp;origin=http%3A%2F%2Fmarinamira.35photo.ru&amp;url=http%3A%2F%2Fmarinamira.35photo.ru%2Fphoto_526034%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.ru.osQWoL3TmbM.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTMTPaZOdhg0bSu93gFKip2apTqWOw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&amp;id=I0_1369138248169&amp;parent=http%3A%2F%2Fmarinamira.35photo.ru&amp;rpctoken=12758392" allowtransparency="true" data-gapiattached="true" title="+1">
                        </iframe>
                      </div>
                    </div>
                    <div style="width:25%;float:left">
                      <script src="http://www.stumbleupon.com/hostedbadge.php?s=5&amp;r=http://marinamira.35photo.ru/photo_526034/"></script>
                      <iframe scrolling="no" frameborder="0" allowtransparency="true" style="overflow: hidden; margin: 0px; padding: 0px; border: 0px; " src="http://badge.stumbleupon.com/badge/embed/5/?url=http%3A%2F%2Fmarinamira.35photo.ru%2Fphoto_526034%2F" width="50" height="60" id="iframe-stmblpn-widget-1">
                      </iframe>
                      <script type="text/javascript"> (function() { var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true; li.src = window.location.protocol + '//platform.stumbleupon.com/1/widgets.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s); })(); </script>
                    </div>
                  </div>
                </div>
                <div style="height:10px">
                </div>
                <div style="border-bottom:1px solid #484848; padding-bottom:3px; margin-top:10px">
                  <img class="avator" style="margin-right:10px;width:30px;height:30px" align="left" src="/profile/photos/9681_48.jpg"><a href="http://marinamira.35photo.ru/" style="font-size:16px">Марина Брыдня</a>
                  <div style="font-size:11px;color:#888">
                    Author have <a href="/" style="color:#888">116 photos</a>
                  </div>
                </div>
                <div style="margin-top:2px">
                  <a href="http://35photo.ru/rating/photo_day/cat3/" class="ico_pD ico_photoDay3"></a><a href="http://35photo.ru/rating/photo_day/" class="ico_pD ico_photoDay"></a>
                </div>
                <div style="font-size:11px;margin-top:5px;">
                  uploaded 1 days ago
                </div>
                <div style="margin:10px 0 15px 0;">
                  <span style="font-size:16px" title="Кол-во просмотров"><img src="http://35photo.ru/files/icoSee.png"> 1739</span> &nbsp;&nbsp;&nbsp; <span style="font-size:16px" title="В избранном"><img src="http://35photo.ru/files/icoFav.png"> 9</span>
                </div>
                <div id="community">
                  <br style="clear:both">
                  <br>
                  Style: <a href="http://35photo.ru/genre_102/">Macro</a><br>
                </div>
                <div style="clear:both; margin:15px 0 5px 0;font-size:10px; border-top:1px solid #484848;padding-top:10px;height:149px">
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_523794/"><img src="http://35photo.ru/photos_col/r2/104/523794_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_523791/"><img src="http://35photo.ru/photos_col/r2/104/523791_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_517000/"><img src="http://35photo.ru/photos_col/r2/103/517000_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:75px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_516533/"><img src="http://35photo.ru/photos_col/r2/103/516533_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_516530/"><img src="http://35photo.ru/photos_col/r2/103/516530_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_515937/"><img src="http://35photo.ru/photos_col/r2/103/515937_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:77px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_515931/"><img src="http://35photo.ru/photos_col/r2/103/515931_75r.jpg"></a>
                  </div>
                  <div style="float:left;width:75px;height:77px">
                    <a href="http://marinamira.35photo.ru/photo_507606/"><img src="http://35photo.ru/photos_col/r2/101/507606_75r.jpg"></a>
                  </div>
                </div>
              </td>
              <td valign="top" style="padding:10px 0px 0px 20px">
                <div style="height:40px">
                  <div class="SecondMenu">
                    <ul>
                      <li class="select" id="hrm_1"><a href="#" onclick="show_block_hrm('?type=commentPhoto&amp;photo_id=526034','photo_body',1);return false;">Comments</a></li>
                      <li id="hrm_2"><a href="#" onclick="show_block_hrm('?type=exifInfo&amp;photo_id=526034','photo_body',2);return false;">EXIF</a></li>
                    </ul>
                  </div>
                </div>
                <div id="photo_body">
                  <div id="photo_body1">
                    <div id="commentsBlock" style="max-width:700px;">

                      <% @photo.comment_threads.each do |comment| %>
                        <div style="margin: 0px 0px 15px 0" class="iComm " data-id="3183565">
                          <a href="http://skan.35photo.ru/"><img class="avator" align="left" src="http://skan.35photo.ru/profile/photos/7735_48.jpg"></a><span><b><a class="answer" href=""><%= comment.user.username %></a></b></span>
                          <div style="margin-top:5px" id="comm3183565">
                            <%= comment.body %>
                          </div>
                          <div class="replyBlock" style="margin:2px 0px 0px 60px">
                            <span class="comm_date"><%= comment.created_at %></span>
                          </div>
                        </div>
                      <% end %>
                    </div>

                    <% if user_signed_in? %>
                      <%=form_for [@photo, Comment.new] do |f|%>
                        <%=f.hidden_field :commentable_id, :value => @photo.id %><br/>
                        <%=f.hidden_field :user_id, :value => Refinery::User.where(:id => session["warden.user.refinery_user.key"][1][0]).first.id %><br/>
                        <div id="blockAddComment">Add comment:</div><br/>
                        <%=f.text_area :body, :style=>"width:370px;height:90px"%><br/><br/>
                        <%=f.submit "Add", :name => "send" %>
                      <%end%>
                      
                    <% end %>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
                <br style="clear:both;">
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
        <div id="fb-root" class=" fb_reset">
          <div style="position: absolute; top: -10000px; height: 0px; width: 0px; ">
            <div>
              <iframe name="fb_xdm_frame_http" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_http" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" style="border: none; " src="http://static.ak.facebook.com/connect/xd_arbiter.php?version=24#channel=f20734919c&amp;origin=http%3A%2F%2Fmarinamira.35photo.ru&amp;channel_path=%2Fphoto_526034%2F%3Ffb_xd_fragment%23xd_sig%3Df323693b2%26">
              </iframe>
              <iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tab-index="-1" style="border: none; " src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=24#channel=f20734919c&amp;origin=http%3A%2F%2Fmarinamira.35photo.ru&amp;channel_path=%2Fphoto_526034%2F%3Ffb_xd_fragment%23xd_sig%3Df323693b2%26">
              </iframe>
            </div>
          </div>
          <div style="position: absolute; top: -10000px; height: 0px; width: 0px; ">
            <div>
              <iframe name="f1e315b1bc" frameborder="0" allowtransparency="true" scrolling="no" style="display: none !important; visibility: hidden !important; opacity: 0 !important; " src="https://www.facebook.com/connect/ping?client_id=192324700810412&amp;response_type=token%2Csigned_request%2Ccode&amp;display=none&amp;domain=marinamira.35photo.ru&amp;origin=1&amp;redirect_uri=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D24%23cb%3Df23f316bb8%26origin%3Dhttp%253A%252F%252Fmarinamira.35photo.ru%252Ff20734919c%26domain%3Dmarinamira.35photo.ru%26relation%3Dparent&amp;sdk=joey" width="0" height="0">
              </iframe>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding-top:40px;">
        <div style="background-color:#474747;height:1px;">
          <spacer type="block"></spacer>
        </div>
        <div style="background-color:#2a2a2a;height:1px;">
          <spacer type="block"></spacer>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding:20px" bgcolor="#323232">
        <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td width="30%">
            <div class="text">
              <div style="margin-bottom:5px">
                © <b><a href="http://35photo.ru/">Photo site</a></b><a href="http://35photo.ru/">35photo.ru</a>
              </div>
              <div style="margin-bottom:5px">
                <a href="" onclick="inlineBlock( 'blockGbMess' ); return false;">Send message to administration</a><br>
                <div id="blockGbMess" style="display:none;margin-top:5px;">
                  <form action="" method="POST" onsubmit="form_send('?type=addMessGb&amp;type2=add', {messageForm: $('#messageForm').val(), messType: $('#messType').val(), gbemail: $('#gbemail').val()}, 'blockGbMess'); return false;">
                    <select name="messType" id="messType">
                      <option value="0">--------</option>
                      <option value="1">Proposal for cooperation</option>
                      <option value="2">An appeal of a photo or poster</option>
                      <option value="3">Problems with my account</option>
                      <option value="4">Other</option>
                    </select>
                    <br>
                    Specify the return address<br>
                    Email:<br>
                    <input type="text" name="gbemail" id="gbemail"><br>
                    <textarea style="width:90%;height:150px" id="messageForm" name="messageForm"></textarea><br>
                    <input type="submit" value="Send">
                  </form>
                </div>
              </div>
              <div class="transperent20">
                <!--LiveInternet counter-->
                <script type="text/javascript"><!-- document.write('<a href="http://www.liveinternet.ru/click;35photo" target=_blank /><img src="http://counter.yadro.ru/hit;35photo?t26.6;r' + escape(document.referrer) + (( typeof (screen) == 'undefined') ? '' : ';s' + screen.width + '*' + screen.height + '*' + (screen.colorDepth ? screen.colorDepth : screen.pixelDepth)) + ';u' + escape(document.URL) + ';' + Math.random() + '" alt="" title="LiveInternet: показано число посетителей за сегодн\я" ' + 'border=0 width=88 height=15 /></a>') //--></script>
                <a href="http://www.liveinternet.ru/click;35photo" target="_blank"><img src="http://counter.yadro.ru/hit;35photo?t26.6;rhttp%3A//35photo.ru/;s1440*900*24;uhttp%3A//marinamira.35photo.ru/photo_526034/;0.25786392018198967" alt="" title="LiveInternet: показано число посетителей за сегодня" border="0" width="0" height="0" style="display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 88px 15px; "></a>
                <!--/LiveInternet-->
              </div>
              <div style="float:left;margin-top:5px" class="transperent40">
                <a class="ico_twitter" href="http://twitter.com/#!/35PHOTO_main" target="_blank" rel="nofollow"></a><a href="http://www.facebook.com/35PHOTO.ru" target="_blank" rel="nofollow" class="ico_fb"></a><a href="http://vkontakte.ru/club17219136" target="_blank" rel="nofollow" class="ico_vk"></a>
                <div style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 70px; height: 15px; background-position: initial initial; background-repeat: initial initial; " id="___plusone_1">
                  <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 70px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 15px; " tabindex="0" vspace="0" width="100%" id="I1_1369138248217" name="I1_1369138248217" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=small&amp;hl=en-US&amp;origin=http%3A%2F%2Fmarinamira.35photo.ru&amp;url=http%3A%2F%2F35photo.ru%2F&amp;gsrc=3p&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.ru.osQWoL3TmbM.O%2Fm%3D__features__%2Fam%3DIQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAItRSTMTPaZOdhg0bSu93gFKip2apTqWOw#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled&amp;id=I1_1369138248217&amp;parent=http%3A%2F%2Fmarinamira.35photo.ru&amp;rpctoken=32118187" allowtransparency="true" data-gapiattached="true" title="+1">
                  </iframe>
                </div>
              </div>
              <br>
            </div>
          </td>
          <td valign="top" style="padding-top:20px;font-size:12px;color:#666" width="50%">
             - <b><a href="http://35photo.ru/game/" style="font-size:12px">Photo-game</a></b><br>
            <br>
            <a href="http://35photo.ru/ps/en/">About</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://35photo.ru/ps/en/help/">Help</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://35photo.ru/search/">Search</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://35photo.ru/pages/page_other_info/">Other</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="http://35photo.ru/models/">Models</a>
            <div style="margin-top:20px;">
              <a href="http://35photo.ru/ps/partners/" class="ico_partners transperent40"></a>
            </div>
            <div style="margin-top:10px;font-size:22px;width:100px">
              18+
            </div>
          </td>
          <td class="text" valign="top" style="padding-top:10px">
            <div style="font-size:18px;">
              <span style="font-size:10px;">Select language:</span><br>
              <a rel="nofollow" href="/pages/page_changeLang/?lang=en">en</a> &nbsp; <a rel="nofollow" href="/pages/page_changeLang/?lang=ru">ru</a> &nbsp; <a rel="nofollow" href="/pages/page_changeLang/?lang=zh">cn</a> &nbsp; <a rel="nofollow" href="/pages/page_changeLang/?lang=de">de</a> &nbsp; <a rel="nofollow" href="/pages/page_changeLang/?lang=bg">bg</a>
            </div>
            <div style="margin-top:20px;font-size:10px;color:#aaa;">
              <script language="JavaScript" type="text/javascript">var boxm = 'pr' + '@' + '35photo' + '.ru'; document.write('<a href="' + 'mai' + 'lto:' + boxm +'">' + boxm + '</a>');</script>
              <a href="mailto:pr@35photo.ru">pr@35photo.ru</a> - сooperation and promotion
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </td>
    </tr>
    </tbody>
    </table>
  </td>
</tr>